DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=urbanmobility
DB_PASSWORD=urbanmobility
DB_NAME=urbanmobility
GTFS_STATIC_URL=https://data.montpellier3m.fr/sites/default/files/ressources/TAM_MMM_GTFS.zip
GBFS_STATION_INFORMATION_URL=https://gbfs.theta.fifteen.eu/gbfs/2.2/montpellier/en/station_information.json
GBFS_STATION_STATUS_URL=https://gbfs.theta.fifteen.eu/gbfs/2.2/montpellier/en/station_status.json
